:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #fb86aa;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/* Growth */
/* .navbar-brand {
  height: var(--percent);
}
.navbar-brand:hover,
.navbar-brand:focus {
  animation: growth ease-out 1s;
}
.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
  height: var(--percent);
}
.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  animation: growth ease-out 1s;
}

@keyframes growth {
  from {
    height: calc(var(--percent) - 50%);
    opacity: 0;
  }

  to {
    height: var(--percent);
    opacity: 1;
  }
} */

/* typewriter */
.navbar-brand {
  overflow: hidden;
  /* border-right: .15em solid var(--pink); */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
}
.navbar-brand:hover,
.navbar-brand:focus {
animation:
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}
.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
  overflow: hidden;
  /* border-right: .15em solid var(--pink); */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
}
.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
animation:
    typing 1s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typewriter h1 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: var(--pink);
  }
}
